.post-content {
   width: 100%;
}

/* No serif please */
.athelas, .baskerville, .avenir, .bodoni,
.calisto, .garmond, .georgia, .helvetica,
.sans-serif, .serif, .system-sans-serif,
.system-serif, .times, body {
    font-family: sans-serif;
}

/* Do not stretch image to full width */
.nested-img img {
    width: auto;
}
